body {
  margin: 0;
  padding-top: 40px;
  font-family: 'Oxygen', sans-serif;
}

/* Header section*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  padding-left: 1rem;
}

/* Form section */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 60px 20px 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

label {
  font-weight: 700;
  margin-bottom: 4px;
}

input,
textarea {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* Buttons section */
button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

/* Blog post section */
#blog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 4rem;
  margin-bottom: 1rem;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.post {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  width: calc(33.333% - 20px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  box-sizing: border-box;
}


/* Media queries */
@media (max-width: 900px) {
  .post {
    width: calc(50% - 20px); 
  }
}

@media (max-width: 600px) {
  .post {
    width: 100%;
  }
}